project_id       = "excepcionales-scheduler"
region           = "southamerica-west1"
data_bucket_name = "excepcionales-scheduler-data"
ui_bucket_name   = "excepcionales-scheduler-ui"
auth_secret      = "your-long-random-secret"
image_tag        = "latest"
